EASYNEWS_USERNAME=
EASYNEWS_PASSWORD=
EASYNEWS_DOWNLOAD_PATH=/downloads/nzb
MCP_HOST=0.0.0.0
MCP_PORT=8765
# Base URL clients use to reach this server; get_nzb_url builds links from it.
# On the NAS set this to http://<nas-ip>:8765
MCP_PUBLIC_URL=http://localhost:8765
